//--------------------MEDIA-1366----------------
@media (max-width: 1366px){

  body{
    font-size: 16px;
    line-height: 22px;
  }

  .title{
    padding-top: 90px;
  }

  .header{
    top: 0;
    padding: 20px;
    background-color: rgb(0, 0, 0, 0.5);
  }

  //--------------------------TOP--------------------

  .top__title{
    font-size: 70px;
    line-height: 90px;
    margin-bottom: 20px;
  }

  .top__img{
    width: 80%;
  }

  .top__text{
    margin: 15px 0 20px;
  }

  //-----------------------PRODUCTS------------------

  .products__slider-box{
    padding-top: 15px;
  }

  .products__slider-text{
    top: -80px;
    right: 15px;
    left: auto;
    bottom: auto;
  }

  //----------------------BENEFITS-----------------
  .benefits{
    .title{
      padding-top: 15px;
    }
  }

  .benefits__item{
    margin-bottom: 75px;

      &:nth-child(even){
      margin-bottom: 60px;
      }
    }
}

//-------------------MEDIA-1230------------------
@media (max-width: 1230px){
  .benefits__item{
    width: 45%;
  }

  .benefits__item:first-child::before {
    width: 30%;
  }

  .benefits__item:nth-child(2)::after{
    width: 80%;
    bottom: -45px;
  }

  .benefits__item:nth-child(3)::before{
    width: 30%;
    top: 10px;
  }

  .benefits__info{
    margin-top: -40px;
  }

  //-------------------SPECIFICATION----------------
  .specification__inner{
    margin-top: 15px;
  }

    .specification__box-2{
      margin-top: 70px;
      &::before{
        top: -50px;
      }
    }
  
    .specification__box-4{
      margin-top: 70px;
    }
  
    .specification__item:nth-child(2){
      text-align: center;
      img{
        width: 100%;
        margin-top: -25px;
      }
    }

}

//----------------------MEDIA-1100---------------
@media (max-width: 1100px){

  .menu{
    order: 1;
  }
  
  .menu__list{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 35%;
    display: flex;
    flex-direction: column;
    background: rgba(#1c1c1c, 0.9);
    z-index: -1;
    padding: 85px 0px 0px 24px;
    justify-content: space-evenly;
    transform: translateX(100%);
    transition: transform .4s;
    overflow: auto;

    &--active{
      transform: translateX(0);
    }
  }

  .menu__list-item + .menu__list-item{
    padding: 0;
  }

  .menu__list-phone{
    display: inline-block;
    padding-top: 33px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      border-top: 1px solid #ffffff;
      top: 0;
      right: 0;
      left: -24px;
    }
    .header__phone{
      display: inline-block;
    }
  }

  .menu__burger{
    cursor: pointer;
  }

  .menu__burger::after,
  .menu__burger::before{
    content: '';
    display: block;
    width: 24px;
    height: 2.4px;
    background-color: #E0E0E0;
    transition: transform .4s;
  }

  .menu__burger::after{
    content: '';
    width: 16px;
    margin-left: auto;
  }

  .menu__burger.menu__burger--active{
  .menu__burger-line{
    opacity: 0;
    }
    &::after{
      transform: translateY(-6px) rotate(-45deg);
      width: 24px;
    }

    &::before{
      transform: translateY(7px) rotate(45deg);
    }
  }

  .menu__burger-line{
    display: block;
    width: 24px;
    height: 2px;
    background-color: #E0E0E0;
    margin: 4px 0px;
  }

  .header__phone{
    display: none;
  }

  .header__btn{
    margin: 0px;
  }
  //-----------------------TOP-----------------

  .top{
    align-items: center;
  }

  //--------------------PRODUCT---------------

  .products__text{
    margin: 20px 0px 0px 20px;
  }

  //--------------------BENEFITS--------------

  .benefits__item:first-child::before,
  .benefits__item:nth-child(2)::after,
  .benefits__item:nth-child(3)::before{
    display: none;
  }

  .benefits__items{
    display: block;
  }
  .benefits__item{
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;

    &:first-child{
      margin-left: 0;
    }
    &:nth-child(even){
      margin:0px 0px 30px 0px;
    }
    &:nth-child(3){
      margin-left: 0;
    }
  }

  .benefits__info{
    max-width: 45%;
  }

  //-------------------SPECIFICATION----------------

  .specification__box-3{
    &::before{
      width: 180px;
      height: 104px;
      bottom: -10px;
      left: -230px;
    }
  }

  .specification__box-2{
    &::before{
      height: 79px;
      right: -250px;
    }
  }

  .specification__box-4{
    &::before{
      top: -50px;
    }
  }

  //----------------------QUESTION-------------

  .question{
    .title{
      padding-top: 20px;
    }
  }

  .question__item:nth-child(3)::before{
    display: none;
  }

  .question__item-text{
    padding-bottom: 20px;
  }

}

//---------------------MEDIA-1024---------------
@media (max-width: 1024px){
  .title{
    padding-top: 50px;
    font-size: 35px;
    line-height: 42px;
  }

  //--------------------PRODUCTS----------------

  .products__slider-text{
    font-size: 22px;
    line-height: 24px;
    top: -50px;
  }
}

//--------------------MEDIA-940----------------
@media (max-width: 940px){

  .products__inner{
    display: block;
  }

  .products__text{
    max-width: 100%;
    margin-bottom: 60px;
  }

  .products__text p:last-child {
    padding-top: 5px;
  }

  .products__slider-box{
    padding-bottom: 50px;
  }
  .products__slider{
    margin: 0 auto;
  }

  //----------------SPECIFICATION----------------

  .specification__box-1,
  .specification__box-2,
  .specification__box-3,
  .specification__box-4{
    &::before{
      display: none;
    }
  }

  .specification__box-2,
  .specification__box-4{
    margin-top: 40px;
  }

  .specification__item:first-child {
  margin-left: 10px; 
  }

  .specification__title {
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 5px;
  }

  //------------------CONTACTS-----------------

  .contacts{
    .title{
      padding-top: 20px;
    }

    &__inner{
      display: block;
      margin: 10px 0 0 10px;
    }

    &__info-list{
      margin-bottom: 10px;
    }

    &__info-item{
      & + .contacts__info-item{
        margin: 5px;
      }
    }
    &__form{
      max-width: 100%;
      margin: 0 0 10px;
    }

    &__social-list{
      flex-direction: row;
      justify-content: center;
      width: 100%;
    }

    &__social-item{
      margin: 0 10px;
    }
  }

}

//--------------------MEDIA-750----------------
@media (max-width: 780px){

  .specification__inner{
    display: block;
  }

  .specification__item:first-child{
    margin-left: 0px;
  }
  .specification__item:nth-child(2){
    img{
      width: 70%;
      margin-top: 0px;
    }
  }

  .specification__box{
    max-width: 100%;
  }

//-------------------QUESTION------------------

  .question__items{
    padding-top: 15px;
  }

  .question__item{
    max-width: 455px;
  }

  .question__item-title {
    font-size: 18px;
    line-height: 20px;
    padding: 10px;
  }

  .question__item-text{
    padding: 17px 15px;
    font-size: 13px;
    line-height: 16px;
  }

  .question__item-title::before {
    content: "";
    width: 45px;
    height: 40px;
    right: -45px;
}

}

//--------------------MEDIA-650----------------
@media (max-width: 650px){
  .title{
    padding-top: 40px;
    font-size: 26px;
    line-height: 28px;
  }

  //----------------------PRODUCTS-------------
  .products__slider-box{
    padding: 15px 15px 50px 0px;
  }

  .products__slider{
    width: 100%;

    &::before{
      width: 100%;
      height: 100%;
    }

    img{
      width: 100%;
    }
  }
}

//----------------------MEDIA-540----------------
  @media (max-width: 540px){

    .menu__list{
      width: 100%;
      left: 0;
    }

    .top{
      background-position: inherit;
    }

  .top__title{
    display: none;
  }

  .scroll__btn{
    padding: 13px 0px;
  }

  .top__text{
    margin: 15px 0 30%;
    max-width: 290px;
  }

  //--------------------PRODUCTS----------------

  .products .slider__btn{
    bottom: -40px;
    padding: 12px 17px;
  }

  .products .slider__btn-left {
    right: 43px;
  }

   //------------------BENEFITS-------------
  .benefits__item{
    flex-wrap: wrap;
    text-align: center;
  }
  
  .benefits__info{
    margin-top: 0px;
    max-width: 300px;
  }
  
  .benefits__info-title{
    max-width: none;
    font-size: 18px;
    line-height: 19px;
  }

  .benefits__img{
    img{
      max-width: 150px;
    }
    &::before{
      width: 150px;
      height: 100px;
    }
  }

  //-----------------SPECIFICATION----------------

  .specification__box-2,
  .specification__box-4 {
    margin-top: 10px;
  }

  .specification__title{
    font-size: 14px;
    line-height: 16px;
  }

  .specification__text{
    font-size: 12px;
    line-height: 15px;
  }

  //----------------QUESTION--------------------

  .question__item {
    max-width: 395px;
  }

  .question__item-title{
    padding: 5px 45px 5px 5px;
    font-size: 14px;
    line-height: 16px;
    &::before{
      right: 0;
      width: 35px;
      height: 25px;
    }
  }

  .question__item-text{
    font-size: 12px;
    line-height: 12px;
  }

  //---------------------CONTACTS--------------

  .contacts__info-title {
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 7px;
  }

  .contacts__info-email, .contacts__info-phone {
    font-size: 14px;
    line-height: 17px;
    transition: all 0.3s;
  }

  .contacts__form-title {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 5px;
  }

  .contacts__form-line{
    display: block;
    margin-bottom: 5px;
  }

  .contacts__form-input{
    display: block;
    width: 100%;

    & + .contacts__form-input{
      margin: 5px 0 0;
    }
  }

  .contacts__form-texterea{
    margin-bottom: 5px;
    height: 100px;
  }
}

@media (max-width: 415px){

  .question__item-text{
    padding: 12px 5px;
  }
}
