@import "libs";
@import "reset";
@import "fonts";
@import "global";
@import "vars";
@import "mixin";
@import "extend";



.header{
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  z-index: 5;

  &__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 30px;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 17px;
    @extend %ff-medium;
  }

  &__btn{
    border: 1px solid #fff;
    color: #fff;
    @extend %ff-bolt;
    background-color: transparent;
    padding: 7px 28px;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
    transition: all .4s;
    letter-spacing: 0.03em;
    &:hover{
      background: #fff;
      color: #000;
    }
  }

  &__phone{
    margin-left: 8px;
    font-size: 16px;
    line-height: 18px;
    @extend %ff-bolt;
  }
}

.menu{
  
  &__list-item{
    display: inline-block;

    & + .menu__list-item{
      padding-left: 20px;
    }

    &:hover{
      text-decoration: underline;
    }
  }
  &__list-phone{
    display: none;
  }
}

.top{
  background-image: url(../images/top/top-bgr.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;

  &__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title{
    @extend %ff-semibold;
    font-size: 96px;
    line-height: 115px;
    margin-bottom: 25px;
  }

  &__text{
    max-width: 325px;
    text-align: center;
    margin: 25px 0 35px;
  }

  &__social-item{
    display: inline-block;
    margin: 0 25px;
  }

  &__social-link{
    opacity: 0.5;
    transition: all .3s;
    &:hover{
      opacity: 1;
    }
  }
}

.products{

  &__inner{
    display: flex;
    justify-content: space-between;
  }

  &__text{
    max-width: 440px;
    margin: 55px 0px 0px 55px;
    p:last-child{
      padding-top: 30px;
    }
  }

  &__slider-box{
    padding-top: 130px;
    position: relative;
  }

  &__slider-text{
    position: absolute;
    bottom: 29px;
    left: -240px;
    text-align: right;
    font-size: 24px;
    line-height: 28px;
    max-width: 280px;
    @extend %ff-medium;
    z-index: 2;
  }

  &__slider{
    max-width: 560px;
    z-index: 1;
    margin-right: 35px;
    &::before{
      content: "";
      position: absolute;
      width: 565px;
      height: 280px;
      border: 4px solid #fff;
      top: -15px;
      right: -17px;
    }
  }

  .slider__btn{
    position: absolute;
    bottom: -48px;
    right: 0;
    padding: 16px 26px;
    border: none;
    cursor: pointer;
    background-color: #fff;
    transition: all .3s;
    stroke: #000;

    &-left{
      right: 60px;
    }

    &.slick-disabled{
      background-color: #1c1c1c;
      stroke: #fff;
    }
  }
}


.benefits{
  &__items{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
  }

  &__item{
    margin-bottom: 100px;
    display: flex;
    &:nth-child(even){
      margin: 15px 0px 85px 35px;
    }

    &:first-child{
      position: relative;
      margin-left: 25px;
      &::before{
        content: '';
        position: absolute;
        width: 245px;
        height: 47px;
        right: -50px;
        top: 30px;
        background-image: url(../images/benefits/line1.svg);
        background-repeat: no-repeat;
      }
    }
    &:nth-child(2){
      position: relative;
      &::after{
        content: '';
        position: absolute;
        width: 463px;
        height: 63px;
        left: -78%;
        bottom: -75px;
        background-image: url(../images/benefits/line2.svg);
        background-repeat: no-repeat;
      }
    }
    &:nth-child(3){
      position: relative;
      margin-left: 55px;
      &::before{
        content: '';
        position: absolute;
        width: 254px;
        height: 40px;
        right: -55px;
        top: 40px;
        background-image: url(../images/benefits/line3.svg);
        background-repeat: no-repeat;
      }
    }
  }
  
  &__num{
    align-self:flex-end;
    @extend %ff-bolt;
    font-size: 36px;
    line-height: 41px;
    margin-right: 8px;
  }

  &__img{
    position: relative;
    z-index: 1;
    margin-right: 32px;
    &::before{
      content: '';
      position: absolute;
      top: -12px;
      right: -12px;
      width: 195px;
      height: 130px;
      border: 2px solid #FFFFFF;
      z-index: -1;
    }
  }

  &__info{
    max-width: 300px;
    &-title{
      max-width: 120px;
      font-size: 21px;
      line-height: 24px;
      @extend %ff-bolt;
      margin-bottom: 10px;
    }

    &-text{
      font-size: 15px;
      line-height: 20px;
    }
  }
}

.specification{
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 77px;
  }

  &__item{
    &:first-child{
      margin-left: 45px;
    }
  }

  &__box{
    max-width: 280px;
    position: relative;
    margin-top: 10px;
    // &:last-child{
    //   margin-top: 160px;
    // }
  }

  &__box-2{
    margin-top: 140px;
  }
  &__box-4{
    margin-top: 160px;
  }

  &__box-1{
    &::before{
    content: '';
    position: absolute;
    background-image: url(../images/specification/pointer-1.svg);
    background-repeat: no-repeat;
    width: 229px;
    height: 115px;
    top: 10px;
    right: -180px;
    }
  }
  &__box-2{
    &::before{
    content: '';
    position: absolute;
    background-image: url(../images/specification/pointer-2.svg);
    background-repeat: no-repeat;
    width: 347px;
    height: 81px;
    top: -65px;
    right: -315px;
    }
  }
  &__box-3{
    &::before{
      content: '';
      position: absolute;
      background-image: url(../images/specification/pointer-3.svg);
      background-repeat: no-repeat;
      width: 258px;
      height: 104px;
      bottom: -20px;
      left: -270px;
    }
  }
  &__box-4{
    &::before{
    content: '';
    position: absolute;
    background-image: url(../images/specification/pointer-4.svg);
    background-repeat: no-repeat;
    width: 123px;
    height: 89px;
    top: -73px;
    left: -130px;
    }
  }

  &__title{
    @extend %ff-bolt;
    font-size: 21px;
    line-height: 28px;
    margin-bottom: 10px;
  }

  &__text{
    font-size: 15px;
    line-height: 19px;
  }
}

.question{

  &__items{
    max-width: 757px;
    padding:40px 0px 10px;
  }
  
  &__item{
    max-width: 690px;
    background: rgba(0, 0, 0, 0.3);
    position: relative;
    &:nth-child(3)::before{
      content: '';
      position: absolute;
      background-image: url(../images/question/question-dron.png);
      background-repeat: no-repeat;
      width: 320px;
      height: 125px;
      right: -392px;
      top: -33px;
      }

    & + .question__item{
      margin-top: 5px;
    }

    &-title{
      font-size: 21px;
      line-height: 28px;
      @extend %ff-medium;
      color: rgba(#fff, 0.8);
      padding: 20px 10px 24px 40px;
      position: relative;
      cursor: pointer;

      &::before{
        content: '';
        position: absolute;
        background-image: url(../images/question/acord-bottom.svg);
        background-repeat: no-repeat;
        background-color: #fff;
        background-position: center;
        width: 72px;
        height: 67px;
        top: 0;
        right: -72px;
      }
    }
    
    &-text{
      padding: 0 5px 75px 50px;
      font-size: 15px;
      line-height: 22px;
      display: none;
    }
  }
  
  &__item.question__item--active{
    .question__item-title::before{
        transform: rotate(180deg);
    }
    .question__item-text{
      display: block;
    }
  }
}

.contacts{

  &__inner{
    display: flex;
    margin: 55px 0px 0px 55px;
  }

  &__info-list{
    margin-right: 60px;
  }

  &__info-item{
    display: flex;
    flex-direction: column;
    
    & + .contacts__info-item{
      margin-top: 30px;
    }
    :last-child{
      margin-top: 5px;
    }
  }
  
  &__info-title{
    font-size: 21px;
    line-height: 24px;
    @extend %ff-bolt;
    margin-bottom: 13px;
  }
  
  &__info-email, &__info-phone{
    font-size: 15px;
    line-height: 20px;
    transition: all .3s;
    &:hover{
      text-decoration: underline;
    }
  }

  &__form{
    max-width: 570px;
    margin-right: 105px;

    &-title{
      font-size: 21px;
      line-height: 24px;
      @extend %ff-bolt;
      margin-bottom: 13px;
    }

    &-text{
      font-size: 15px;
      line-height: 20px;
      margin-bottom: 12px;
    }

    &-line{
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
    }

    &-input,
    &-texterea{
      background: rgba(0, 0, 0, 0.5);
      border: none;
      padding: 15px;
      font-size: 13px;
      line-height: 17px;
      color: #FFFFFF;
      &::placeholder{
        color: rgba( #fff, 0.4);
      }
    }

    &-input{
      width: 49%;
      &:last-child{
        margin-left: 10px;
      }
    }
      
    &-texterea{
      width: 100%;
      height: 145px;
      margin-bottom: 20px;
      resize: none;
    }

    &-btn{
      padding: 9px 15px;
      background-color: transparent;
      border: 1px solid #fff;
      border-radius: 2px;
      @extend %ff-bolt;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #fff;
      cursor: pointer;
      transition: all .3s;

      &:hover{
        background-color: #fff;
        color: #1c1c1c;
      }
    }
  }

  &__social-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 15px;
  }

  &__social-item{
    margin: 14px 0px;
    opacity: 0.5;
    
    &:hover{
      opacity: 1;
    }
  }


  .footer{
    position: absolute;
    bottom: 32px;
    right: 0;
    left: 0;
    &__copy{
      font-size: 13px;
      line-height: 17px;
      color: rgba(#fff, 0.65);
      text-align: right;
    }
  }
}

@import "media";