@import "libs";
@import "reset";
@import "fonts";
@import "global";
@import "vars";
@import "mixin";
@import "extend";
@import "media";


.header{
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  z-index: 5;

  &__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 30px;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 17px;
    @extend %ff-medium;
  }

  &__btn{
    border: 1px solid #fff;
    color: #fff;
    @extend %ff-bolt;
    background-color: transparent;
    padding: 7px 28px;
    text-transform: uppercase;
    border-radius: 3px;
    margin-right: 8px;
    cursor: pointer;
    transition: all .4s;
    letter-spacing: 0.03em;
    &:hover{
      background: #fff;
      color: #000;
    }
  }

  &__phone{
    font-size: 16px;
    line-height: 18px;
    @extend %ff-bolt;
  }
}

.menu{
  
  &__list-item{
    display: inline-block;
    & + .menu__list-item{
      padding-left: 20px;
    }
  }
}

.top{
  background-image: url(../images/top/top-bgr.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;

  &__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title{
    @extend %ff-semibold;
    font-size: 96px;
    line-height: 115px;
    margin-bottom: 25px;
  }

  &__text{
    max-width: 325px;
    text-align: center;
    margin: 25px 0 35px;
  }

  &__social-item{
    display: inline-block;
    margin: 0 25px;
  }

  &__social-link{
    opacity: 0.5;
    transition: all .3s;
    &:hover{
      opacity: 1;
    }
  }
}

.products{

  &__inner{
    display: flex;
    justify-content: space-between;
  }

  &__text{
    max-width: 440px;
    margin: 55px 0px 0px 55px;
    p:last-child{
      padding-top: 30px;
    }
  }

  &__slider-box{
    padding-top: 130px;
    position: relative;
  }

  &__slider-text{
    position: absolute;
    bottom: 29px;
    left: -240px;
    text-align: right;
    font-size: 24px;
    line-height: 28px;
    max-width: 280px;
    @extend %ff-medium;
    z-index: 2;
  }

  &__slider{
    max-width: 560px;
    z-index: 1;
    margin-right: 35px;
    &::before{
      content: "";
      position: absolute;
      width: 565px;
      height: 280px;
      border: 4px solid #fff;
      top: -15px;
      right: -17px;
    }
  }

  .slider__btn{
    position: absolute;
    bottom: -47px;
    right: 0;
    padding: 16px 26px;
    border: none;
    cursor: pointer;
    background-color: #fff;
    transition: all .3s;
    stroke: #000;

    &-left{
      right: 60px;
    }

    &.slick-disabled{
      background-color: #1c1c1c;
      stroke: #fff;
    }
  }
}


.benefits{
  &__items{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
  }

  &__item{
    margin-bottom: 113px;
    display: flex;
    &:nth-child(even){
      margin: 15px 0px 100px 35px;
    }
  }
  
  &__item-1{
    position: relative;
    margin-left: 25px;
    &::before{
      content: '';
      position: absolute;
      width: 245px;
      height: 47px;
      right: -50px;
      top: 30px;
      background-image: url(../images/benefits/line1.svg);
      background-repeat: no-repeat;
    }
  }
  &__item-2{
    position: relative;
    &::after{
      content: '';
      position: absolute;
      width: 463px;
      height: 63px;
      left: -78%;
      bottom: -75px;
      background-image: url(../images/benefits/line2.svg);
      background-repeat: no-repeat;
    }
  }
  &__item-3{
    position: relative;
    margin-left: 55px;
    &::before{
      content: '';
      position: absolute;
      width: 254px;
      height: 40px;
      right: -55px;
      top: 40px;
      background-image: url(../images/benefits/line3.svg);
      background-repeat: no-repeat;
    }
  }
  
  &__num{
    align-self:flex-end;
    @extend %ff-bolt;
    font-size: 36px;
    line-height: 41px;
    margin-right: 8px;
  }

  &__img{
    position: relative;
    z-index: 1;
    margin-right: 32px;
    &::before{
      content: '';
      position: absolute;
      top: -12px;
      right: -12px;
      width: 195px;
      height: 130px;
      border: 2px solid #FFFFFF;
      z-index: -1;
    }
  }

  &__info{
    max-width: 300px;
    &-title{
      max-width: 120px;
      font-size: 21px;
      line-height: 24px;
      @extend %ff-bolt;
      margin-bottom: 10px;
    }

    &-text{
      font-size: 15px;
      line-height: 20px;
    }
  }
}